<h3>Find your favourite books!</h3>

<form class="form-inline" action="/searchResult" method="get">
  <div class="form-group mb-2">
    <input type="query" name="queryParams" class="form-control" placeholder="Search the Web" required>
  </div>
  <button type="submit" class="btn btn-primary mx-sm-3 mb-2">Search</button>

</form>